{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Django Tailwind</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% tailwind_css %}
    <script src="{% static 'js/htmx.min.js' %}"></script>
    <script src="{% static 'js/alpine.min.js' %}"></script>
</head>

<body id="main" class="max-w-5xlmx-auto bg-[#FFF9F2] text-gray-800 font-sans">


    {% include 'includes/header.html' %}

    {% block content %}

    {% endblock %}

    {% include 'includes/footer.html' %}

</body>
</html>